name: DevOps CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 20, 22]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - run: ls -la

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Install kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.26.0/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Create kind cluster
        run: kind create cluster

      - name: Build Docker image
        run: |
          echo "Starting Build"
          docker build -t mini-ecommerce-api:${{ github.sha }} .
          echo "Build Finish"

      - name: Deploy Kubernetes
        run: |
          echo "Deploy to K8s"
          kubectl apply -f k8s/
          echo "Deploy Finish"
