name: DevOps CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Build Docker image
        run: |
          echo "Starting Build"
          docker build -t mini-ecommerce-api:${{ github.sha }} .
          echo "Build Finish"

      - name: Deploy Kubernetes
        run: |
          echo "Deploy to K8s"
          kubectl apply -f k8s/
          echo "Deploy Finish"
